@import url(https://fonts.bunny.net/css?family=roboto:400,500,600);

@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';

* {
  font-family: 'Roboto';
}

p,
label {
  margin: 0;
  font-size: 18px;
  text-align: start;
}

button {
  cursor: pointer;
}

input,
button {
  font: 18px 'Roboto';
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  color: black;
}

.g_node-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
}

.g_node-grid select,
.g_node-grid input {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
}

.g_node {
  width: 300px;
}

.g_node-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.g_node-title {
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.g_node-title img {
  height: 30px;
}

.g_name-icon {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.g_name-icon img {
  height: 20px;
}

.g_node-delete {
  background-color: red;
  color: white;
  width: 24px;
  border: solid 1px #a00;
  border-radius: 5px;
  padding: 2px;
  align-self: flex-end;
}
